.container{
    background-color: #F8B400;
}


.text-center{
    color: #06113C;
    font-size: xx-large;
    font-family: sans-serif;
    font-weight: bolder;
    font-style: italic;
}


h5{
    color: #06113C;
}
