<div class="card" style="min-width: 10;">
    <div class="row">    
      <div class="col-md-8">
        <div class="home">
          <h5 class="card-title"><a href="{{user.url}}" target="_blank">{{user.name}}</a></h5>
          <p class="card-text">Repos:{{user.public_repos}}</p>
          <p class="card-text">Followers: {{user.followers}}</p>
          <p class="card-text">Following: {{user.following}}</p>
          <p class="card-text"><small class="text-rome">Created: {{user.created_at|date}}</small></p>
        </div>
      </div>
    </div>
  </div>
