<div class="container warrior">
    <div class="row">
        <div class="col-md-6">
            <h1>My Github</h1>
            <div class="">
                <img src="assets/Images/gwagon.jpeg" alt="">
            </div>
            <br>
            <h2>David Kahumbi</h2>
            <br>
            <h2>Repositories</h2>
            <ul>
                <li>quotes</li>
                <li>Subways-Pizza</li>
                <li>Delani-Studio</li>
                <li>Akan-Names</li>
            </ul>
        </div>

        <div class="col-md-6">
            <div class="container-fluid">
                <app-user></app-user>  
              </div>
        </div>
    </div>
</div>




<!-- 
<ul>
    <li *ngFor='let user of users'>
      {{user.name}}
    </li>
  </ul> -->
