<div class="container warrior">
    <div class="row">
        <div class="col-md-6">
            <h1>My Github</h1>
            <div class="">
                <img src="assets/Images/gwagon.jpeg" alt="">
            </div>
            <br>
            <h2>David Kahumbi</h2>
            <br>
            <h2>Repositories</h2>
            <ul>
                <li>quotes</li>
                <li>Subways-Pizza</li>
                <li>Delani-Studio</li>
                <li>Akan-Names</li>
            </ul>
        </div>

        <div class="col-md-6">
            <div class="container-fluid">
                <h2 class="text-center">New User </h2>
                <hr>
                <form>
                    <div class="form-group">
              
                        <label for="name">Name</label>
                        <input type="text" required class="form-control" id="name" (ngModel)]="newGoal.name" name="name">
              
              <!-- Testing to see if we get any data -->
                        <!-- Display {{users.name}} -->
                    </div>
                    <div class="form-group">
              
                        <label for="description">Description</label>
                        <textarea class="form-control" id="description" rows="4" required></textarea>
              
                    </div>
                    <div class="form-group">
              
                        <label for="complete">Completion</label>
                        <input type='date' id="complete" required>
              
                    </div>
                    <button type="submit" class="btn btn-success">Add Goal</button>
                </form>
              </div>
        </div>
    </div>
</div>




<!-- 
<ul>
    <li *ngFor='let user of users'>
      {{user.name}}
    </li>
  </ul> -->
